In [3]:
import pandas as pd
import numpy as np

In [1]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])

In [5]:
df['four'] = 'bar'

In [6]:
df['five'] = df['one'] > 0

In [7]:
df

        one       two     three four   five
a -0.694740  0.938686  0.046613  bar  False
c -0.600299  0.204241  0.350053  bar  False
e -1.157564  0.403622 -0.037860  bar  False
f -0.661338 -0.541992  1.256361  bar  False
h -1.307462  0.549037  0.388902  bar  False

In [8]:
df2 = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [9]:
df2

        one       two     three four   five
a -0.694740  0.938686  0.046613  bar  False
b       NaN       NaN       NaN  NaN    NaN
c -0.600299  0.204241  0.350053  bar  False
d       NaN       NaN       NaN  NaN    NaN
e -1.157564  0.403622 -0.037860  bar  False
f -0.661338 -0.541992  1.256361  bar  False
g       NaN       NaN       NaN  NaN    NaN
h -1.307462  0.549037  0.388902  bar  False

In [10]:
df2['one']

a   -0.694740
b         NaN
c   -0.600299
d         NaN
e   -1.157564
f   -0.661338
g         NaN
h   -1.307462
Name: one, dtype: float64

In [11]:
pd.isnull(df2['one']) # returns boolean after checking each value from each cell in column 'ONE' is null.

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [12]:
df2['four'].notnull() #Returns boolean value from each cell after checking weather the value in the cell is notnull

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: four, dtype: bool

In [13]:
df2.isnull() #Returns boolean value from each cell after checking weather the value in the cell is null.

     one    two  three   four   five
a  False  False  False  False  False
b   True   True   True   True   True
c  False  False  False  False  False
d   True   True   True   True   True
e  False  False  False  False  False
f  False  False  False  False  False
g   True   True   True   True   True
h  False  False  False  False  False

In [14]:
df2['one'] == np.nan # Pandas/numpy uses the fact that np.nan != np.nan, and treats None like np.nan.

a    False
b    False
c    False
d    False
e    False
f    False
g    False
h    False
Name: one, dtype: bool

In [15]:
df2 = df.copy() # .copy copies a dataframe into a new dataframe
df2['timestamp'] = pd.Timestamp('20171103')
df2

        one       two     three four   five  timestamp
a -0.694740  0.938686  0.046613  bar  False 2017-11-03
c -0.600299  0.204241  0.350053  bar  False 2017-11-03
e -1.157564  0.403622 -0.037860  bar  False 2017-11-03
f -0.661338 -0.541992  1.256361  bar  False 2017-11-03
h -1.307462  0.549037  0.388902  bar  False 2017-11-03

In [16]:
df2.ix[['a','c','h'],['one','timestamp']] = np.nan
df2

        one       two     three four   five  timestamp
a       NaN  0.938686  0.046613  bar  False        NaT
c       NaN  0.204241  0.350053  bar  False        NaT
e -1.157564  0.403622 -0.037860  bar  False 2017-11-03
f -0.661338 -0.541992  1.256361  bar  False 2017-11-03
h       NaN  0.549037  0.388902  bar  False        NaT

In [17]:
df2.get_dtype_counts()

bool              1
datetime64[ns]    1
float64           3
object            1
dtype: int64

# Inserting Missing Data

In [18]:
s = pd.Series([1,2,3])
s.loc[0] = None
s

0    NaN
1    2.0
2    3.0
dtype: float64

In [19]:
s = pd.Series(["a", "b", "c"])
s.loc[0] = None
s.loc[1] = np.nan
s

0    None
1     NaN
2       c
dtype: object

# Calculations with Missing Data

In [28]:
df3 = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])

In [29]:
df3

        one       two     three
a -0.326949 -1.208136  0.151021
c  1.285201  0.658444 -1.647794
e -0.719857 -1.043220 -0.681889
f -2.011416 -0.528934  0.147013
h -1.027374 -0.367369  0.740593

In [30]:
df3.one.sum()

-2.8003947994379326

In [31]:
df3.mean(1)

a   -0.461355
c    0.098617
e   -0.814988
f   -0.797779
h   -0.218050
dtype: float64

In [32]:
df3.cumsum()

        one       two     three
a -0.326949 -1.208136  0.151021
c  0.958252 -0.549692 -1.496773
e  0.238395 -1.592912 -2.178662
f -1.773021 -2.121847 -2.031649
h -2.800395 -2.489216 -1.291056

In [33]:
df3

        one       two     three
a -0.326949 -1.208136  0.151021
c  1.285201  0.658444 -1.647794
e -0.719857 -1.043220 -0.681889
f -2.011416 -0.528934  0.147013
h -1.027374 -0.367369  0.740593

In [34]:
df3.groupby('one').mean()

                two     three
one
-2.011416 -0.528934  0.147013
-1.027374 -0.367369  0.740593
-0.719857 -1.043220 -0.681889
-0.326949 -1.208136  0.151021
 1.285201  0.658444 -1.647794

# Cleaning/filling Missing data

In [35]:
df2

        one       two     three four   five  timestamp
a       NaN  0.938686  0.046613  bar  False        NaT
c       NaN  0.204241  0.350053  bar  False        NaT
e -1.157564  0.403622 -0.037860  bar  False 2017-11-03
f -0.661338 -0.541992  1.256361  bar  False 2017-11-03
h       NaN  0.549037  0.388902  bar  False        NaT

In [36]:
df2.fillna(0) # fills the missing values i.e nan or nat with 0's

        one       two     three four   five  timestamp
a  0.000000  0.938686  0.046613  bar  False 1970-01-01
c  0.000000  0.204241  0.350053  bar  False 1970-01-01
e -1.157564  0.403622 -0.037860  bar  False 2017-11-03
f -0.661338 -0.541992  1.256361  bar  False 2017-11-03
h  0.000000  0.549037  0.388902  bar  False 1970-01-01

In [37]:
df2['four'].fillna('missing') # trying to replace any missing values in column four with 'missing'

a    bar
c    bar
e    bar
f    bar
h    bar
Name: four, dtype: object

In [42]:
df3

        one       two     three
a -0.326949 -1.208136  0.151021
b       NaN       NaN       NaN
c  1.285201  0.658444 -1.647794
d       NaN       NaN       NaN
e -0.719857 -1.043220 -0.681889
f -2.011416 -0.528934  0.147013
g       NaN       NaN       NaN
h -1.027374 -0.367369  0.740593

In [40]:
df3 = df3.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [41]:
df3

        one       two     three
a -0.326949 -1.208136  0.151021
b       NaN       NaN       NaN
c  1.285201  0.658444 -1.647794
d       NaN       NaN       NaN
e -0.719857 -1.043220 -0.681889
f -2.011416 -0.528934  0.147013
g       NaN       NaN       NaN
h -1.027374 -0.367369  0.740593

In [43]:
df3.fillna(method='pad') #pad / ffill	Fill values forward , bfill / backfill	Fill values backward

        one       two     three
a -0.326949 -1.208136  0.151021
b -0.326949 -1.208136  0.151021
c  1.285201  0.658444 -1.647794
d  1.285201  0.658444 -1.647794
e -0.719857 -1.043220 -0.681889
f -2.011416 -0.528934  0.147013
g -2.011416 -0.528934  0.147013
h -1.027374 -0.367369  0.740593

In [44]:
df3.fillna(method='pad', limit=1)

        one       two     three
a -0.326949 -1.208136  0.151021
b -0.326949 -1.208136  0.151021
c  1.285201  0.658444 -1.647794
d  1.285201  0.658444 -1.647794
e -0.719857 -1.043220 -0.681889
f -2.011416 -0.528934  0.147013
g -2.011416 -0.528934  0.147013
h -1.027374 -0.367369  0.740593

# Filling with Pandas_object

In [45]:
dff = pd.DataFrame(np.random.randn(10,3), columns=list('ABC'))

In [47]:
dff.iloc[3:5,0] = np.nan
dff.iloc[4:6,1] = np.nan
dff.iloc[5:8,2] = np.nan
dff

          A         B         C
0 -0.333191 -0.677206  0.106409
1 -0.594137  1.414099  0.519579
2 -1.464570  1.280566  1.047531
3       NaN -0.097470 -0.076847
4       NaN       NaN -1.824134
5  0.282879       NaN       NaN
6 -0.684451  1.128292       NaN
7  0.677939 -0.322059       NaN
8 -0.699199 -0.237442  1.389199
9  0.029381  0.741499  0.558878

In [48]:
dff.fillna(dff.mean())

          A         B         C
0 -0.333191 -0.677206  0.106409
1 -0.594137  1.414099  0.519579
2 -1.464570  1.280566  1.047531
3 -0.348169 -0.097470 -0.076847
4 -0.348169  0.403785 -1.824134
5  0.282879  0.403785  0.245802
6 -0.684451  1.128292  0.245802
7  0.677939 -0.322059  0.245802
8 -0.699199 -0.237442  1.389199
9  0.029381  0.741499  0.558878

In [49]:
dff.fillna(dff.mean()['B':'C'])#fills with mean only in columns B to C

          A         B         C
0 -0.333191 -0.677206  0.106409
1 -0.594137  1.414099  0.519579
2 -1.464570  1.280566  1.047531
3       NaN -0.097470 -0.076847
4       NaN  0.403785 -1.824134
5  0.282879  0.403785  0.245802
6 -0.684451  1.128292  0.245802
7  0.677939 -0.322059  0.245802
8 -0.699199 -0.237442  1.389199
9  0.029381  0.741499  0.558878

In [50]:
dff.where(pd.notnull(dff), dff.mean(), axis='columns') 
#Same result as above, but is aligning the ‘fill’ value which is a Series in this case.

          A         B         C
0 -0.333191 -0.677206  0.106409
1 -0.594137  1.414099  0.519579
2 -1.464570  1.280566  1.047531
3 -0.348169 -0.097470 -0.076847
4 -0.348169  0.403785 -1.824134
5  0.282879  0.403785  0.245802
6 -0.684451  1.128292  0.245802
7  0.677939 -0.322059  0.245802
8 -0.699199 -0.237442  1.389199
9  0.029381  0.741499  0.558878

# Dropping axis labels with missing data: dropna

In [51]:
df3

        one       two     three
a -0.326949 -1.208136  0.151021
b       NaN       NaN       NaN
c  1.285201  0.658444 -1.647794
d       NaN       NaN       NaN
e -0.719857 -1.043220 -0.681889
f -2.011416 -0.528934  0.147013
g       NaN       NaN       NaN
h -1.027374 -0.367369  0.740593

In [53]:
df3 = df3.dropna(axis=0)

In [54]:
df3.dropna(axis=0)

        one       two     three
a -0.326949 -1.208136  0.151021
c  1.285201  0.658444 -1.647794
e -0.719857 -1.043220 -0.681889
f -2.011416 -0.528934  0.147013
h -1.027374 -0.367369  0.740593

In [56]:
df3.dropna(axis=1)

        one       two     three
a -0.326949 -1.208136  0.151021
c  1.285201  0.658444 -1.647794
e -0.719857 -1.043220 -0.681889
f -2.011416 -0.528934  0.147013
h -1.027374 -0.367369  0.740593