In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [15]:
#nfl_frame = pd.read_clipboard()
#copies data present in the clipboard at the point of time into a dataframe

In [42]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East

In [17]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Total Games', 'Division'],
      dtype='object')

In [6]:
nfl_frame.Team

0     Dallas
1      Green
2    Chicago
3      Miami
4        New
5        New
Name: Team, dtype: object

In [18]:
nfl_frame['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
5    1925
Name: First NFL Season, dtype: int64

In [19]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','Total Games'])

                   Team  First NFL Season Total Games
0        Dallas Cowboys              1960         866
1     Green Bay Packers              1921       1,320
2         Chicago Bears              1920       1,354
3        Miami Dolphins              1966         784
4  New England Patriots              1960         868
5       New York Giants              1925       1,289

In [20]:
DataFrame(nfl_frame,columns=['Team','First NFL Season','Total Games','Stadium'])  
#Slicing Dataframe by using DataFrame(dataframename, columns=[])

                   Team  First NFL Season Total Games  Stadium
0        Dallas Cowboys              1960         866      NaN
1     Green Bay Packers              1921       1,320      NaN
2         Chicago Bears              1920       1,354      NaN
3        Miami Dolphins              1966         784      NaN
4  New England Patriots              1960         868      NaN
5       New York Giants              1925       1,289      NaN

In [21]:
nfl_frame.head(3) #Retives the top 3 elements in the dataframe

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North

In [22]:
nfl_frame.tail(2) #Retrives the bottom elements in the data frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East

In [23]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East

In [24]:
nfl_frame.ix[3] #Retrives entire information from a specified index (entire row)

Rank                             4
Team                Miami Dolphins
Won                            439
Lost                           341
Tied                             4
Pct.                         0.563
First NFL Season              1966
Total Games                    784
Division                  AFC East
Name: 3, dtype: object

In [25]:
nfl_frame['Stadium'] = "Levi's Stadium" #Replaces whole column with that particular value

In [26]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,Levi's Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Levi's Stadium
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Levi's Stadium
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Levi's Stadium
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,Levi's Stadium
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,Levi's Stadium

In [27]:
nfl_frame['Stadium'] = np.arange(6)

In [28]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,0
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,1
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,2
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,3
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,4
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,5

In [33]:
Stadiums = Series(["Levi's Stadium",'AT&T Stadium'],index=[5,0])
Stadiums

5    Levi's Stadium
0      AT&T Stadium
dtype: object

In [32]:
nfl_frame['Stadium'] = Stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,AT&T Stadium
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,NaN
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,Levi's Stadium

In [34]:
del nfl_frame['Stadium'] #deletes the specified row or column of a DataFrame 
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East
5,6,New York Giants,684,572,33,0.543,1925,"1,289",NFC East

In [35]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

# Index Objects

In [36]:
my_ser = Series([1,2,3,4],index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [37]:
my_index = my_ser.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [39]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [41]:
my_index[0] = 'Z' #TypeError: Index does not support mutable operations

TypeError: Index does not support mutable operations

# Reindexing

In [43]:
from numpy.random import randn

In [44]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [45]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [46]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [48]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [49]:
ranger = range(15)
ranger

range(0, 15)

In [50]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [51]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -1.446875 -0.927301 -0.104548  0.031005  1.845017
B -0.098443 -2.067167 -0.348604  0.183555  0.557612
D  0.982490 -0.120180 -1.279469 -0.889049  0.023799
E -1.727652  0.844697  0.505799 -0.595333  0.123923
F  2.608006  1.640036  1.339443  0.998727  0.280121

In [52]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [53]:
dframe2

       col1      col2      col3      col4      col5
A -1.446875 -0.927301 -0.104548  0.031005  1.845017
B -0.098443 -2.067167 -0.348604  0.183555  0.557612
C       NaN       NaN       NaN       NaN       NaN
D  0.982490 -0.120180 -1.279469 -0.889049  0.023799
E -1.727652  0.844697  0.505799 -0.595333  0.123923
F  2.608006  1.640036  1.339443  0.998727  0.280121

In [54]:
new_col = ['col1','col2','col3','col4','col5','col6']

In [55]:
dframe2.reindex(columns=new_col)

       col1      col2      col3      col4      col5  col6
A -1.446875 -0.927301 -0.104548  0.031005  1.845017   NaN
B -0.098443 -2.067167 -0.348604  0.183555  0.557612   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.982490 -0.120180 -1.279469 -0.889049  0.023799   NaN
E -1.727652  0.844697  0.505799 -0.595333  0.123923   NaN
F  2.608006  1.640036  1.339443  0.998727  0.280121   NaN

In [56]:
dframe

       col1      col2      col3      col4      col5
A -1.446875 -0.927301 -0.104548  0.031005  1.845017
B -0.098443 -2.067167 -0.348604  0.183555  0.557612
D  0.982490 -0.120180 -1.279469 -0.889049  0.023799
E -1.727652  0.844697  0.505799 -0.595333  0.123923
F  2.608006  1.640036  1.339443  0.998727  0.280121

In [57]:
dframe.ix[['A','B','C','D','E','F'],new_col]

       col1      col2      col3      col4      col5  col6
A -1.446875 -0.927301 -0.104548  0.031005  1.845017   NaN
B -0.098443 -2.067167 -0.348604  0.183555  0.557612   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.982490 -0.120180 -1.279469 -0.889049  0.023799   NaN
E -1.727652  0.844697  0.505799 -0.595333  0.123923   NaN
F  2.608006  1.640036  1.339443  0.998727  0.280121   NaN