In [25]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy import random

In [26]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [27]:
df = pd.read_csv('working_data.csv')
df

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [28]:
df = pd.read_csv('working_data.csv', header= None)
df

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [29]:
df = pd.read_table('working_data.csv',sep=',', header=None)
df

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [30]:
df.to_csv('my_text_out.csv')

In [31]:
import sys

In [32]:
df.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [33]:
df.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?7?dog

# JSON Data

In [34]:
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [35]:
json_obj

'\n{   "zoo_animal": "Lion",\n    "food": ["Meat", "Veggies", "Honey"],\n    "fur": "Golden",\n    "clothes": null, \n    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]\n}\n'

In [36]:
import json

In [37]:
data = json.loads(json_obj)
data

{'clothes': None,
 'diet': [{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}],
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'zoo_animal': 'Lion'}

In [38]:
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [39]:
dframe = DataFrame(data['diet'])
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle

In [40]:
dfj = pd.DataFrame(random.randn(5, 2), columns=list('AB'))

In [41]:
dfj

          A         B
0 -2.104990 -0.033736
1 -0.366178 -0.901299
2 -2.618876 -0.170487
3  0.190639 -1.661541
4  0.392286  0.922856

In [42]:
json = dfj.to_json()

In [43]:
json

'{"A":{"0":-2.1049896138,"1":-0.3661777043,"2":-2.6188760016,"3":0.1906390032,"4":0.3922859922},"B":{"0":-0.0337363059,"1":-0.9012993692,"2":-0.1704872086,"3":-1.6615405903,"4":0.9228560105}}'

In [44]:
dfjo = pd.DataFrame(dict(A=range(1, 4), B=range(4, 7), C=range(7, 10)),
                    columns=list('ABC'), index=list('xyz'))
dfjo

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [45]:
sjo = pd.Series(dict(x=15, y=16, z=17), name='D')
sjo

x    15
y    16
z    17
Name: D, dtype: int64

# Columns Oriented

In [64]:
dfjo.to_json(orient='columns')

'{"A":{"x":1,"y":2,"z":3},"B":{"x":4,"y":5,"z":6},"C":{"x":7,"y":8,"z":9}}'

# Index oriented

In [47]:
dfjo.to_json(orient='index')

'{"x":{"A":1,"B":4,"C":7},"y":{"A":2,"B":5,"C":8},"z":{"A":3,"B":6,"C":9}}'

In [48]:
sjo.to_json(orient='index')

'{"x":15,"y":16,"z":17}'

# Record Oriented

In [49]:
dfjo.to_json(orient='records')

'[{"A":1,"B":4,"C":7},{"A":2,"B":5,"C":8},{"A":3,"B":6,"C":9}]'

In [51]:
sjo.to_json(orient='records')

'[15,16,17]'

# Value Oriented

In [52]:
dfjo.to_json(orient="values")

'[[1,4,7],[2,5,8],[3,6,9]]'

# Split Oriented

In [53]:
dfjo.to_json(orient="split")

'{"columns":["A","B","C"],"index":["x","y","z"],"data":[[1,4,7],[2,5,8],[3,6,9]]}'

In [54]:
sjo.to_json(orient="split")

'{"name":"D","index":["x","y","z"],"data":[15,16,17]}'

# Data Handling

In [56]:
dfd = pd.DataFrame(random.randn(5, 2), columns=list('AB'))
dfd['date'] = pd.Timestamp('20170311')
dfd = dfd.sort_index(1, ascending=False)
#
dfd

        date         B         A
0 2017-03-11  0.289622 -1.367623
1 2017-03-11 -2.225458  0.144284
2 2017-03-11  0.504247  0.847292
3 2017-03-11  0.831433  0.187840
4 2017-03-11  0.832577  1.567663

In [57]:
json = dfd.to_json(date_format='iso')
json

'{"date":{"0":"2017-03-11T00:00:00.000Z","1":"2017-03-11T00:00:00.000Z","2":"2017-03-11T00:00:00.000Z","3":"2017-03-11T00:00:00.000Z","4":"2017-03-11T00:00:00.000Z"},"B":{"0":0.2896217703,"1":-2.2254582521,"2":0.5042471864,"3":0.831432656,"4":0.8325766507},"A":{"0":-1.3676233348,"1":0.1442837035,"2":0.8472920783,"3":0.1878400427,"4":1.567663399}}'

In [59]:
json = dfd.to_json(date_format='iso', date_unit='us')
json

'{"date":{"0":"2017-03-11T00:00:00.000000Z","1":"2017-03-11T00:00:00.000000Z","2":"2017-03-11T00:00:00.000000Z","3":"2017-03-11T00:00:00.000000Z","4":"2017-03-11T00:00:00.000000Z"},"B":{"0":0.2896217703,"1":-2.2254582521,"2":0.5042471864,"3":0.831432656,"4":0.8325766507},"A":{"0":-1.3676233348,"1":0.1442837035,"2":0.8472920783,"3":0.1878400427,"4":1.567663399}}'

In [60]:
json = dfd.to_json(date_format='epoch', date_unit='s')
json

'{"date":{"0":1489190400,"1":1489190400,"2":1489190400,"3":1489190400,"4":1489190400},"B":{"0":0.2896217703,"1":-2.2254582521,"2":0.5042471864,"3":0.831432656,"4":0.8325766507},"A":{"0":-1.3676233348,"1":0.1442837035,"2":0.8472920783,"3":0.1878400427,"4":1.567663399}}'

In [61]:
dfj2 = dfj.copy()
dfj2['date'] = pd.Timestamp('20170311')
dfj2['ints'] = list(range(5))
dfj2['bools'] = True
dfj2.index = pd.date_range('20130101', periods=5)
dfj2.to_json('test.json')
open('test.json').read()

'{"A":{"1356998400000":-2.1049896138,"1357084800000":-0.3661777043,"1357171200000":-2.6188760016,"1357257600000":0.1906390032,"1357344000000":0.3922859922},"B":{"1356998400000":-0.0337363059,"1357084800000":-0.9012993692,"1357171200000":-0.1704872086,"1357257600000":-1.6615405903,"1357344000000":0.9228560105},"date":{"1356998400000":1489190400000,"1357084800000":1489190400000,"1357171200000":1489190400000,"1357257600000":1489190400000,"1357344000000":1489190400000},"ints":{"1356998400000":0,"1357084800000":1,"1357171200000":2,"1357257600000":3,"1357344000000":4},"bools":{"1356998400000":true,"1357084800000":true,"1357171200000":true,"1357257600000":true,"1357344000000":true}}'

In [62]:
DataFrame([1.0, 2.0, complex(1.0, 2.0)]).to_json()

RuntimeError: Unhandled numpy dtype 15

In [63]:
DataFrame([1.0, 2.0, complex(1.0, 2.0)]).to_json(default_handler=str)

'{"0":{"0":"(1+0j)","1":"(2+0j)","2":"(1+2j)"}}'

# Reading JSON

In [65]:
df = pd.read_json(json)
df

          A         B       date
0 -1.367623  0.289622 2017-03-11
1  0.144284 -2.225458 2017-03-11
2  0.847292  0.504247 2017-03-11
3  0.187840  0.831433 2017-03-11
4  1.567663  0.832577 2017-03-11

In [68]:
df = pd.read_json('test.json', dtype=object).dtypes
df

A        object
B        object
bools    object
date     object
ints     object
dtype: object

In [70]:
df = pd.read_json('test.json', dtype={'A' : 'float32', 'bools' : 'int8'}).dtypes
df

A               float32
B               float64
bools              int8
date     datetime64[ns]
ints              int64
dtype: object

In [71]:
si = pd.DataFrame(np.zeros((4,4)),columns=list(range(4)),index=[str(i) for i in range(4)])
si

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [72]:
si.index

Index(['0', '1', '2', '3'], dtype='object')

In [73]:
si.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [74]:
json= si.to_json()

In [75]:
sij = pd.read_json(json, convert_axes=False)
sij

   0  1  2  3
0  0  0  0  0
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0

In [76]:
sij.index

Index(['0', '1', '2', '3'], dtype='object')

In [77]:
sij.columns

Index(['0', '1', '2', '3'], dtype='object')

In [78]:
json = dfj2.to_json(date_unit='ns')
dfju = pd.read_json(json,date_unit='ns')
dfju

                   A         B bools       date  ints
2013-01-01 -2.104990 -0.033736  True 2017-03-11     0
2013-01-02 -0.366178 -0.901299  True 2017-03-11     1
2013-01-03 -2.618876 -0.170487  True 2017-03-11     2
2013-01-04  0.190639 -1.661541  True 2017-03-11     3
2013-01-05  0.392286  0.922856  True 2017-03-11     4

In [79]:
dfju = pd.read_json(json,date_unit='ns')
dfju

                   A         B bools       date  ints
2013-01-01 -2.104990 -0.033736  True 2017-03-11     0
2013-01-02 -0.366178 -0.901299  True 2017-03-11     1
2013-01-03 -2.618876 -0.170487  True 2017-03-11     2
2013-01-04  0.190639 -1.661541  True 2017-03-11     3
2013-01-05  0.392286  0.922856  True 2017-03-11     4

# Normalization

In [83]:
data = [{'state': 'Florida',
         'shortname': 'FL',
         'info': {
             'governor': 'Rick Scott'
         },'counties':[{'name': 'Dade', 'population': 12345},
                        {'name': 'Broward', 'population': 40000},
                        {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {
             'governor': 'John Kasich'
         },
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [84]:
data

[{'counties': [{'name': 'Dade', 'population': 12345},
   {'name': 'Broward', 'population': 40000},
   {'name': 'Palm Beach', 'population': 60000}],
  'info': {'governor': 'Rick Scott'},
  'shortname': 'FL',
  'state': 'Florida'},
 {'counties': [{'name': 'Summit', 'population': 1234},
   {'name': 'Cuyahoga', 'population': 1337}],
  'info': {'governor': 'John Kasich'},
  'shortname': 'OH',
  'state': 'Ohio'}]

In [88]:
from pandas.io.json import json_normalize

In [89]:
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich